# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*

# SQLite DB (если не хочешь хранить в репо)
promo.db

# Node / frontend
node_modules/
dist/
build/
*.log

# VSCode
.vscode/
.idea/

# Docker
*.pid

infra/