version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: ttt_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: ttt_backend
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}

      # Собираем DATABASE_URL динамически из .env
      DATABASE_URL: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

    ports:
      - "9000:8000"
    depends_on:
      - postgres
    restart: unless-stopped

  frontend:
    image: nginx:alpine
    container_name: ttt_frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "9090:80"
    restart: unless-stopped

volumes:
  pgdata:
