############################################
# Telegram Bot
############################################

BOT_TOKEN=8504221258:AAFED-r1vGUsuP5z-fhWCgrA-BXSdrRNDxk

############################################
# Game URL (должен совпадать с URL, указанным в BotFather → Edit Game)
############################################

GAME_URL=https://habitbattle.ru
############################################
# Database
############################################

# Пример PostgreSQL
DATABASE_URL=postgresql+psycopg2://postgresql:36PkjCdf!@79.174.89.119:17937/tic_tac_toy

############################################
# CORS
############################################

CORS_ORIGINS=*

